<html>
  <head>
    <title>Add New Category</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <h3>Category</h3>
    <form action="/newcat" method="POST">
      <label for="category"
        >Category:
        <input type="text" name="category" id="category" />
        <button type="submit">Submit</button>
      </label>
    </form>
  </body>
</html>
