<html>
  <head>
    <title>Update Brand</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('navbar') %> <% const action="/updbrand/" + brand_id %>
    <form action="<%=action%>" method="POST">
      <div class="itemsWrapper">
        <label for="brand">
          Brand:
          <input type="text" name="brand" id="brand" value="<%=brand_name%>" />
        </label>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
